[2019-12-20 20:29] defnax opened #6 "use sidebar for webui"
hi,

thx for nice webui great work .

but i prefer we need to use the same method like other social  platforms like tribler, zeronet,....
top Bar is mostly used for search, menu, actions, notify count, settings or account stuff
but for page navigation is best to use a left side SideBar.
![image](https://user-images.githubusercontent.com/9952056/71289769-3fae8c80-236e-11ea-8e87-9231fef9300f.png)

h

[2019-12-21 03:37] rottencandy commented on #6
Hi @defnax,

Thanks for the suggestion.
Makes sense to have a sidebar for the tabs, instead of a top bar.

Do you have any suggestion on how the layout should look for tabs that already have a sidebar(for example, the config tab)?

[2019-12-21 15:24] defnax commented on #6
i think alternative is main sidebar black background and for config tab white background and other pages with sidebars
i use since few years on qt gui with sidebar its more comfortable the navigation.

![image](https://user-images.githubusercontent.com/9952056/71309899-a8991180-240d-11ea-8dff-933f281d1792.png)
![image](https://user-images.githubusercontent.com/9952056/71309931-04639a80-240e-11ea-8

[2020-02-25 17:46] sehraf opened #10 "Down-/Upload speed is not saved."
Changing the values under config -> network does not result in anything. The values stay the same. (Also i don't see a corresponding api call to `rsConfig/SetMaxDataRates`)

[2020-02-26 05:37] rottencandy commented on #10
It looks like mithril is converting the input value to a string, which the API does not accept. I can fix this. The request are being sent though.

The client also does not seem to update it's display when the Download/Upload values change.
For example, sending a request to change the speeds:
[code]
seems to update the values, which can be confirmed by:
[code]
But this change is not reflected in t

[2020-02-26 08:15] #10 closed

[2020-06-11 17:36] doughutchison opened #12 "First page after successful login failing to display"
Host is xubuntu 20.04 running Retroshare version : 0.6.5-retroshare-gui-OBS-AppImage.

Retroshare GUI up and running in darknet mode with two (2) trusted nodes.

Successfully followed directions at: https://github.com/RetroShare/RSNewWebUI

Successfully open index.html with native browser (Firefox 77.0.1 (64-bit))

Successfully displayed blue login screen, entered existing username and password, v

[2020-06-11 18:14] csoler commented on #12
it is likely that RS cannot find the js files for the webinterface. Normally they are in /usr/share/retroshare/webui/. I'm not sure about what the app image is doing in this situation. The appImage tht is released for 0.6.5 certainly does not include them.
If that is the reason, then compile the webui (using qmake) and copy the webui/* files in /usr/share/retroshare/webui. But I'm not sure it is p

[2020-06-11 19:09] doughutchison commented on #12
Thank you. After much banging around it appears the simplest is to bring up a xubuntu 18.04 machine and install via apt to properly gain access to the directories.

[2020-12-20 21:06] defnax opened #14 "Port Number display at login is needed?"
Hi,
i dont know if the Port number is importend on login to display.
when you change the port in settings the default value changes.
the webui doesnt know that i use port 9090.
Normaly it needs to detect automacticly the port which is stored in the settings.

For me the port number display is for advanced users, its only enough in the settings to change/show.

On ZeroNet, I2P they doesnt requiere

[2020-12-20 21:39] csoler commented on #14
For sure what you can hide is the login. .It's hard-coded to be webui and there's no reason to have a login anyway. It's only a passwd access since there's no specific profile for the webUI: your profile is given by the current node's profile.

[2020-12-20 22:16] defnax commented on #14
ok, maybe when the webui is going to be more ready then we can it hide it.

[2020-12-22 08:00] zeners commented on #14
fixed in #14 with 3c7324b0

[2020-12-23 12:49] #14 closed

[2021-01-30 11:48] orien3243 opened #15 "javascript not found"
So I run it in chrome and firefox on ubuntu 20.04 and I open the index.html file and get a "no javascript found" but app.js is accessible.

app.js:81 Uncaught Error: Cannot find module "main" from "/"
    at require (app.js:81)
    at load_ui ((index):19)
    at onload ((index):12)

I heard Zapek is working on this. Is there something you guys think I can help with?

[2021-01-31 13:01] rottencandy commented on #15
Can you give some more info about your browser version?

[2021-01-31 14:54] defnax commented on #15
normaly you must open from retroshare or with right link (when json api enabled and webui too from Retroshare settings)
http://127.0.0.1:9090/index.html

but open from folder will not work.
![image](https://user-images.githubusercontent.com/9952056/106387954-87f70580-63dc-11eb-9af7-e974921391b3.png)

[2021-02-01 17:38] orien3243 commented on #15
Well I did this in the latest chrome. 88.0.4324.104 (Official Build) (64-bit) (cohort: Stable)

I am using the retroshare app image (6.5-retroshare-gui-obs-APPIMAGE) and it does have an option for a JSON API but no option to "show web interface" to try out after building this github package.

Thats why I tried to just click on the index.html file. Is this not the correct way to test this package o

[2021-02-01 19:11] defnax commented on #15
i think the app image doesnt contains the webui when im right. You are on rs network right? use latest Windows package from  Nyvenza or build from master for  windows or linux with json api/webui enabled.
You want develope on webui right?

[2021-02-01 21:08] orien3243 commented on #15
okay and yes.

[2021-03-15 11:11] Kumaravinash9 opened #17 "On Smaller Screen, Navbar border get Overlapped"
# Review
![issueretro](https://user-images.githubusercontent.com/64456168/111144508-2914d680-85ad-11eb-87a6-ebc23252e8f0.JPG)

[2021-03-15 11:34] Kumaravinash9 commented on #17
@csoler @G10h4ck  I want to work on this.

[2021-03-15 12:05] csoler commented on #17
Hi. The web interface has changed quite a bit since this view above. Make sure to use the new one!
There's a call by Freifunk to work on the topic of improving the web interface in the context of Google Summer of Code 2021. If you're a student, see if you can apply!

[2021-03-15 12:23] Kumaravinash9 commented on #17
Hi @csoler I am student and looking forward to take part in GSOC 21 .Really looking forward to get guidance .

[2021-03-15 12:45] csoler commented on #17
Take a look here: https://github.com/RetroShare/RSNewWebUI. The README explains how to compile Retroshare so as to run the web interface. The compilation options should be "rs_jsonapi rs_webui debug" (rs_webui seems to be missing in the webpage above). Make sure you can run it.
In order to get help, the best way is to add the Retroshare Tor dev node to your friends. I'll PM you the key. You need t

[2021-03-15 12:51] csoler commented on #17
... ah and you need to provide some contact email for that on github ;-)

[2021-03-15 12:54] Kumaravinash9 commented on #17
Thanks @csoler. This is my Email Id : avinashkumar.met18@itbhu.ac.in

[2021-03-15 13:01] Kumaravinash9 commented on #17
@csoler Actually I followed the Readme to setup the developement environment . But i am facing some problem  (I am using Windows)
 - After installing retroshare
 - I didnot see any option  of JSON API  in Preference section:

![problem](https://user-images.githubusercontent.com/64456168/111157058-70569380-85bc-11eb-8d1e-d715f01f32bb.JPG)

**Please help**

[2021-03-15 19:01] defnax commented on #17
You need to use a new RetroShare 0.6.6 with JSON api & Webui enabled

[2021-03-15 19:19] Kumaravinash9 commented on #17
@G10h4ck Can I update the readme so that the new developer has no problem setting up the development environment.

[2021-03-15 19:21] defnax commented on #17
Here are some infos for the webui:
https://github.com/RetroShare/RetroShare/issues/2160

[2021-03-15 20:05] Kumaravinash9 commented on #17
Thanks @defnax

[2021-03-15 20:15] Kumaravinash9 commented on #17
@defnax
After enable the JSON API :
![issuedynax](https://user-images.githubusercontent.com/64456168/111215099-c0534b80-85f8-11eb-804b-bba8e575a322.JPG)
# Check this
![major_issue](https://user-images.githubusercontent.com/64456168/111215315-07414100-85f9-11eb-9810-a47546a832a8.JPG)

**please help @defnax**

[2021-03-15 21:29] defnax commented on #17
as i said you need windows developer build, official release no webui (still is unfinished).

[2021-03-16 08:26] Kumaravinash9 commented on #17
@csoler  @defnax  can I update the Readme .

[2021-03-16 08:37] csoler commented on #17
Of course. Make a pull request.

[2021-03-16 09:02] Kumaravinash9 commented on #17
@csoler @defnax
# Why is it not working
![issueconfig](https://user-images.githubusercontent.com/64456168/111282610-3214af00-8664-11eb-9dad-c5b375482949.JPG)

[2021-03-16 12:54] defnax commented on #17
As i said is unfinished, join to rs dev network and ask the devs/testers on RetroShare.
Im not a web dev. You know now to start the webui.

[2021-03-23 20:18] Kumaravinash9 commented on #17
Hello @csoler @defnax   , i dropped my message on this  Retroshare Tor dev node about my issue  but didnot get any help.

[2021-03-23 20:24] csoler commented on #17
hi. I dont think you ever connected to the dev Tor node. Your last contact here is from March 15, which is when I added your key in the first place.

[2021-03-23 20:27] Kumaravinash9 commented on #17
@csoler , i am in the group
![recent](https://user-images.githubusercontent.com/64456168/112213553-346aa080-8c44-11eb-9c39-54274ff31cbd.JPG)

[2021-03-23 20:29] Kumaravinash9 commented on #17
Here is my key :

ABCzSYCT3kEMgccHuNcgK6RZAxRX39zcYGPBqL4hHsY125UBEW6TlQEIS3VtYXJBdmmTBgGJqMDBgpIG8zvWdcGCBANZmb8=

[2021-03-23 20:30] csoler commented on #17
Your key is already added (unless you changed it since last week?)

[2021-03-23 20:30] Kumaravinash9 commented on #17
It downloaded newer version of retroshare that was recommended by @defnax

[2021-03-23 20:33] csoler commented on #17
ok. I added the new one.

[2021-03-23 20:40] Kumaravinash9 commented on #17
@csoler , I have updated readme and created a PR request for it .

[2021-03-23 20:45] csoler commented on #17
merged it. You're still not connected. Are you running Tor on your machine?

[2021-03-23 20:49] Kumaravinash9 commented on #17
Yes @csoler , I am connected

![chevk](https://user-images.githubusercontent.com/64456168/112216135-2bc79980-8c47-11eb-8572-3b9c2058fdcf.JPG)

[2021-03-23 20:51] csoler commented on #17
No you're not. You just added the dev Tor node as friend. That means you accept connectioons with this node. But currently you're not connected. When you are, the node should be listed in bold green, and the bottom of the window should show 1/1 instead of 0/1 (see the tooltip).
That explains why you sent messages but they were never received.

[2021-03-23 20:52] Kumaravinash9 commented on #17
@csoler then how can i connect

[2021-03-23 20:55] csoler commented on #17
normally RS should do it by itself. If it doesn't it means you probably do not run Tor on your machine, or your router/ISP filters it. See preferences->network->hidden service configuration->outgoing. There's a "Tor outgoing Okay" LED here that should be green. If not, it means you're not running Tor.

[2021-03-23 20:57] Kumaravinash9 commented on #17
@csoler  It is not green .

[2021-03-23 20:58] csoler commented on #17
what's your system?

[2021-03-23 20:58] Kumaravinash9 commented on #17
@csoler  Windows 10

[2021-03-23 21:00] csoler commented on #17
I don't know how to run Tor on windows. Try to launch a Tor browser. It may do the job, but on windows you never know.

[2021-03-23 21:02] Kumaravinash9 commented on #17
@csoler can you please guide me how to Launch Tor browser

[2021-03-23 21:03] csoler commented on #17
https://www.torproject.org/download/. Just launch the .exe that you'll get.

[2021-03-23 21:07] Kumaravinash9 commented on #17
Thanks @csoler and  actually , I was busy in university exam. That' why I made a late PR request.

[2021-03-23 21:08] csoler commented on #17
well, that wasn't a very complicated PR ;-)

[2021-03-23 21:14] Kumaravinash9 commented on #17
@csoler , i have installed Tor browser. So what to do next

[2021-03-23 21:15] csoler commented on #17
launch it. Then check that RS can see Tor (green LED)

[2021-03-23 21:18] Kumaravinash9 commented on #17
I have launched Tor node browser but it's not green.

[2021-03-23 21:20] csoler commented on #17
try to set the proxy port in the RS settings (same place) to 9150

[2021-03-23 21:22] csoler commented on #17
this is because TorBrowser uses 9150 instead of the default (9050), so you have to tell Retroshare to use this one as well.

[2021-03-23 21:24] Kumaravinash9 commented on #17
@csoler , check this
![saveasCheck](https://user-images.githubusercontent.com/64456168/112220351-2b7dcd00-8c4c-11eb-9f03-5087e4153e93.JPG)

[2021-03-23 21:27] csoler commented on #17
seems to me ok! So normally RS should be able to connect now. It tries less and less often, so if you started it long ago, it will quick things up to right-click on the dev node and select "attempt to connect"

[2021-03-23 21:32] csoler commented on #17
You should probably not use the same port for I2P and Tor though. Just leave 9050 for I2P since you dont use it.

[2021-03-23 21:37] Kumaravinash9 commented on #17
I changed it

[2021-03-23 21:38] Kumaravinash9 commented on #17
# Still facing problem
![eror](https://user-images.githubusercontent.com/64456168/112221972-1efa7400-8c4e-11eb-9e95-b70f2a9b43ce.JPG)

[2021-03-23 21:40] csoler commented on #17
why is it still using 9050 instead of 9150?? try to restart RS?

[2021-03-23 21:44] Kumaravinash9 commented on #17
Thanks a lot  @csoler , now i am connected
![connected](https://user-images.githubusercontent.com/64456168/112222787-06d72480-8c4f-11eb-8de2-4d2187750655.JPG)

[2021-03-23 21:46] csoler commented on #17
Congrats. Took some time, but your situation is the most complicated one: clear node to Tor node on windows ;-)

[2021-03-23 21:49] Kumaravinash9 commented on #17
Finally connected :-)

[2021-03-24 07:58] rottencandy opened #19 "Windows build script is outdated"
The windows build script is not up to date with the bash script, and does not build the webui correctly. It needs to be updated to match the build procedure in the bash script.

[2021-03-24 07:59] rottencandy commented on #17
Worth noting that the windows build script is not up to date with the bash script, and needs to be updated.
It will probably not build the webui properly, I created an issue for this https://github.com/RetroShare/RSNewWebUI/issues/19

In the meantime, you could use something like Cygwin or WSL to build using the bash script.

[2021-03-24 10:30] Kumaravinash9 commented on #17
@rottencandy please can you describe me more how to use Cygwin or WSL for building the script

[2021-03-24 12:21] Kumaravinash9 commented on #17
but i built it using Cygwin but it didn't work

[2021-03-24 18:12] rottencandy commented on #17
Maybe try WSL: https://docs.microsoft.com/en-us/windows/wsl/install-win10

[2021-03-24 18:23] rottencandy commented on #17
But which step did not work? Were you able to run the bash script?

[2021-03-24 18:30] Kumaravinash9 commented on #17
Actually when i try to open web interface then it shows something like this. May be some problem is coming in detecting files

[2021-03-24 18:38] rottencandy commented on #17
Is that the webui you get after running the bash script or the windows script? Can you try opening the `index.html` file directly and see what you get?

[2021-03-24 18:39] Kumaravinash9 commented on #17
Yes @rottencandy

[2021-03-24 18:45] rottencandy commented on #17
No, I meant which script did you use to get that : p

[2021-03-24 18:51] Kumaravinash9 commented on #17
sh build.sh

[2021-03-24 18:55] Kumaravinash9 commented on #17
@rottencandy  Chrome debugging  console
![pblm](https://user-images.githubusercontent.com/64456168/112367874-7bb66700-8d00-11eb-8fae-6e14d4400f10.JPG)

[2021-03-24 19:04] rottencandy commented on #17
Does it work when you open `index.html` directly?

(You should ask this in the dev chatroom, you'd get much faster response there)

[2021-03-24 19:08] Kumaravinash9 commented on #17
doesn't work . And yesterday I talked with @cyril regarding this . He also donot know how to resolve this.

[2021-03-24 19:16] Kumaravinash9 opened #20 "LoginPage is not responsive"
# preview

![loginPage](https://user-images.githubusercontent.com/64456168/112370471-73abf680-8d03-11eb-8043-b93c08f095e7.JPG)

[2021-03-24 19:17] Kumaravinash9 commented on #20
@csoler  I want to work on it

[2021-03-24 19:33] rottencandy commented on #17
Okay, looks like chrome has trouble reading the font files. Apart from that, do the other tabs load? Looks like the fetch calls are working based on your previous screenshot.

[2021-03-25 09:05] hunbernd commented on #17
If you have msys2 installed, start the migw64.exe, and you can run the build.sh from there.
Then you have to copy the generated files into the folder retrosharefolder\webui, and let the internal webserver serve them.

If you have more questions about building or running RS on windows, feel free to contact me over RS:
anmo (2d7fdbc8d6894c131a7588fd05c816fb)

[2021-03-25 09:17] csoler commented on #17
Maybe I forgot to clear this up: you shouldn't load the .html directly in your browser! Otherwise, yes, internal resources will not have the right path. You need to access http://127.0.0.1:9092/index.html once retroshare is running.

[2021-03-25 09:18] csoler commented on #17
And if you do, try to keep the default port. Maybe there's still explicit mentions of that port (9092) in the code, so some files cannot be found with your custom port?

[2021-03-25 09:45] Kumaravinash9 commented on #17
@csoler  Yes , i can see in login.js file where it's is defined that `window.location.protocol` starts with `file`: then it try to connect server at 9092 port.

![protocal](https://user-images.githubusercontent.com/64456168/112452564-c4136a80-8d7c-11eb-83b3-c38d2bfa0dbb.JPG)

[2021-03-25 09:53] Kumaravinash9 commented on #17
@csoler @hunbernd
My json Api config
![jsonconfig](https://user-images.githubusercontent.com/64456168/112453303-91b63d00-8d7d-11eb-81b6-91ae98734a71.JPG)
 Web Interface config
![webinterface-config](https://user-images.githubusercontent.com/64456168/112453476-c0ccae80-8d7d-11eb-8b62-28ee68d04312.JPG)
But still not Working .

[2021-03-25 09:55] Kumaravinash9 commented on #17
@hunbernd  Actually i have tried but it's not working

[2021-03-25 10:07] csoler commented on #17
Look at your jsonapi port, and compare to default webui port....

[2021-03-25 10:10] Kumaravinash9 commented on #17
@csoler , i have set it to 9092 port

[2021-03-25 10:11] csoler commented on #17
it looks like 9020 in the image above.

[2021-03-25 10:13] Kumaravinash9 commented on #17
@csoler sorry

[2021-03-25 10:24] Kumaravinash9 commented on #17
@csoler i have set it to 9092 but still not working

![setit](https://user-images.githubusercontent.com/64456168/112458024-59652d80-8d82-11eb-81fb-f94bc50e31f3.JPG)

[2021-03-25 10:26] csoler commented on #17
did you click on "apply settings" ?

[2021-03-25 10:28] Kumaravinash9 commented on #17
yes

yes

[2021-03-25 17:25] hunbernd commented on #17
This should fix the woff file problems:
https://github.com/RetroShare/RetroShare/pull/2393

[2021-03-26 17:16] Kumaravinash9 commented on #17
thanks a lot  @hunbernd
now, i can able to use web interface
![Capture](https://user-images.githubusercontent.com/64456168/112668834-f7412100-8e84-11eb-86a2-57ea969d59ec.JPG)

[2021-03-26 18:23] Kumaravinash9 opened #22 "Checkbox is not aligned with its text && Friends node profile pic is also not aligned"
# Preview checkBox

![saveissue](https://user-images.githubusercontent.com/64456168/112675875-b8639900-8e8d-11eb-9d40-4649e2deb05a.JPG)

# Preview Friends Node
![issue2](https://user-images.githubusercontent.com/64456168/112676349-52c3dc80-8e8e-11eb-9be7-248cfbb45928.JPG)

[2021-03-29 13:19] Kumaravinash9 opened #24 "People >Edit identity popup && People > create Identity Popup is not responsive"
# Preview

# edit identity PopUp
![small](https://user-images.githubusercontent.com/64456168/112842663-6e61f980-90bf-11eb-8084-df04007130c2.JPG)

# create Identity PopUp
![createnewIdentity](https://user-images.githubusercontent.com/64456168/113524110-139e3580-95ca-11eb-8653-504ccd400bff.JPG)

[2021-03-29 13:33] Kumaravinash9 commented on #24
@csoler @rottencandy can I improve its UI.

[2021-03-30 03:46] Kumaravinash9 opened #26 "Logic code is not defined in People>Edit identity for changing identity"
# Edit Screen
![edit](https://user-images.githubusercontent.com/64456168/112930475-fbe13000-9137-11eb-8e33-889034c61781.JPG)

[2021-03-30 07:07] rottencandy commented on #20
Fixed in #21. The issue can be closed

[2021-03-30 12:22] Kumaravinash9 commented on #26
# Create new identity

![identity](https://user-images.githubusercontent.com/64456168/112987559-7b92ed00-9180-11eb-8117-c6202373b3eb.JPG)

@rottencandy @csoler  This is also not working.

[2021-03-30 12:28] Kumaravinash9 commented on #26
@csoler @rottencandy how can i add the new route for changing the identity in retroShare. I need your help . Please guide me .

[2021-03-30 12:42] Kumaravinash9 commented on #26
@csoler , I am not able to find any file  having name rsidentity.h in RSNewWebUI repo.

[2021-03-30 12:51] Kumaravinash9 commented on #26
Thanks @csoler , I will check it out.  I am looking forward to participate in GSOC 21  on this organization. Is any format  you decided for the proposal.

[2021-03-30 12:55] csoler commented on #26
You need to apply. Given what you already achieved, you have great chances. I suppose your application must contain some milestones for what to achieve. I suggest you send me a draft of what your plans are so that I can validate them, then submit it in the format GSoC expects.

[2021-03-30 12:59] Kumaravinash9 commented on #26
@csoler it's grate help . If you will share your retro-share id with me  . so that i will able to send you my draft proposal for the review.

[2021-03-30 13:01] csoler commented on #26
you're connected to the dev Tor node, so you can send me your draft. No problem with that.

[2021-03-30 13:50] Kumaravinash9 commented on #26
pardon me @csoler , Actually my pervious  retroshare version was not working . So , i download the new version  that was recommended by @anmo.  That's why my identity has changes . Can you please add my new key to Tor Node.

ABDLrPSwkMxDUm57NC1bYreFAxTHCkJwSRUFPk+2P8R5TaUUQpzn0AEIS3VtYXJBdmmTBgGJqMCmqpIGfNb7daaqBAPIRJM=

[2021-03-30 13:58] csoler commented on #26
you know that when you upgrade RS, you do not have to create a new identity everytime?

[2021-03-30 14:01] Kumaravinash9 commented on #26
@csoler  i donot know about it . How can i retrieve my pervious id

[2021-03-30 14:05] Kumaravinash9 commented on #26
@csoler i have deleted that directory. From next time , i will do it again.

[2021-03-30 14:30] Kumaravinash9 commented on #26
@csoler please add my key :
ABDLrPSwkMxDUm57NC1bYreFAxTHCkJwSRUFPk+2P8R5TaUUQpzn0AEIS3VtYXJBdmmTBgGJqMCmqpIGfNb7daaqBAPIRJM=

[2021-03-30 14:33] csoler commented on #26
I did

[2021-03-30 14:59] Kumaravinash9 commented on #26
Thanks @csoler .

[2021-03-30 19:13] Kumaravinash9 opened #27 "I want to use bootstrap 4 for the implementing of UI"
@csoler  @rottencandy  can i use Bootstrap ?

[2021-03-30 22:30] G10h4ck commented on #17
Great to see so much activity on this topic! Sorry being late but I am exploring how to implement perceptual indexing and search (similar to https://en.wikipedia.org/wiki/Acoustic_fingerprint but also for images and videos) on RetroShare right now and it keep my mind very busy!

[2021-03-31 00:21] Kumaravinash9 commented on #17
no problem @G10h4ck  . My  issue has solved . @csoler @rottencandy  @hunbernd @defnax @cyril  these are great people  who helped me a lot to get over this issue.

[2021-03-31 03:32] Kumaravinash9 commented on #26
thanks @csoler , i went through libretroshare/src/retroshare/*.h files and got three function update, create and delete identity.

![createidentity](https://user-images.githubusercontent.com/64456168/113086677-be47da00-91ff-11eb-9415-170571517144.JPG)

[2021-03-31 04:13] Kumaravinash9 commented on #26
Thanks  a lot @csoler ,i have  fixed the issue .

[2021-03-31 06:37] #20 closed

[2021-03-31 06:37] #17 closed

[2021-03-31 08:05] rottencandy commented on #27
@Kumaravinash9 Adding a new UI framework would require non trivial amount of changes to the codebase. Better to discuss with others(in dev forum) the pros and cons before going with it.

[2021-03-31 08:16] Kumaravinash9 commented on #27
Thanks @rottencandy .I will discuss this dev forum. One more question , is this dev forum avaible on retroshare channel or git hub

[2021-03-31 08:20] csoler commented on #27
It's available from the dev Tor nodes. Go to forums, subscribe to the dev forum there, and post.

[2021-03-31 08:23] Kumaravinash9 commented on #27
Thanks @csoler.

[2021-03-31 10:13] Kumaravinash9 commented on #27
@csoler  should I make my gsocproposal timeline  weekwise or phase wise

[2021-03-31 11:03] csoler commented on #27
your call. Phase-wise is a bare minimum. If you do so, try to also provide a time estimate for the different tasks.
Plz submit it way before the deadline so that we can discuss it before.

[2021-03-31 13:29] Kumaravinash9 commented on #27
Thanks @csoler . I will complete my proposal in two days.

[2021-04-01 12:41] Kumaravinash9 commented on #26
@csoler , i have completed  my proposal .  And i really want to get your reviews .

Is this your identity . So i will able to send my proposal  google docs link.

![cyril](https://user-images.githubusercontent.com/64456168/113295041-4e2b7800-9315-11eb-91bf-9e0a62f9bebc.JPG)

[2021-04-01 14:21] Kumaravinash9 commented on #27
@rottencandy i have drooped this feature request on dev forum

[2021-04-02 02:36] Kumaravinash9 opened #28 "After deleting the identity , web page still showing the deleted identity"
Reason: Because it doesnot reload the Web page after deleting the identity .

[2021-04-15 18:31] #26 closed

[2021-04-15 18:31] #24 closed

[2021-04-15 18:31] #22 closed

[2021-04-18 09:56] zeners opened #30 "invalid Configuration for rule 'no-unused-vars' in .eslintrc.json"
tried to check with eslint, but the config seems wrong?
[code]

[2021-04-18 10:43] zeners commented on #30
based on indent, was this planned?
[code]

[2021-04-18 10:46] rottencandy commented on #30
Looks like an indent error in the config file.

[2021-04-18 11:28] #30 closed

[2021-04-30 19:43] defnax opened #35 "Home View for webui"
Hi,
about feature to add via Short retroshare id a friend and optional via long cert.

* Show retroshare id by default
* Copy Retroshare ID Button
* Share Button
* Add Friend Button ( opens a popup dialog to paste a retroshare id or Cert )
* Web Help Button

![image](https://user-images.githubusercontent.com/9952056/116746611-0a538d80-a9fd-11eb-8c7d-95d67464ef46.png)

[2021-04-30 20:40] Kumaravinash9 commented on #35
Hello @defnax , I want to work on this issue

[2021-05-01 15:20] defnax opened #36 "Friends View -> Network"
Friends Webui part isnt yet finished.
at the moment it uses the full window on Friends page.

missed things :

- Start a Private Chat  (direct chat)
- Start a Mail (direct mail)
- View Friends details (show infos on right side)
- Show Private Chat Conversation/History on right side

we need on left side the Friendslist, not sure if groups still work with the rs api?
http://www.cetaceanstechlab.com

[2021-05-01 17:49] csoler commented on #36
Direct chat and direct mail are *deprecated*. So Chat and mail should be only visible in the people tab.

[2021-05-01 17:49] csoler commented on #36
What you call "friend" tab is the network tab, where you see "nodes" not "friends".

[2021-05-02 10:37] defnax commented on #36
At the moment its enabled on windows and mac builds
When enabled then would be cool we can chat or mail from webui too,
When anytime the webui will work without qt ui, would be very usefull we have it there too

[2021-05-08 11:14] Kumaravinash9 commented on #35
Once the side navbar PR get merged, I will create this PR.

[2021-05-08 11:57] Kumaravinash9 opened #38 "Lazy pagaination required in the people->All contacts"

[2021-05-08 12:30] rottencandy commented on #35
I don't see any overlap with navbar PR, so if you like you can work on it in parallel ;)

[2021-05-08 12:34] rottencandy commented on #38
We can either go with pagination, or fetch details lazily when id is scrolled into view.

We can also explore other options like memoizing the details, so it is only fetched once.

[2021-05-08 13:03] Kumaravinash9 commented on #35
ok, then I will create this PR soon.

[2021-05-08 13:24] Kumaravinash9 commented on #35
Actually, I was busy with my semester examination. That's why I was inactive from few days. Now my examination is over.

[2021-05-09 04:32] Kumaravinash9 opened #39 "UI design for the Mail Tab"
**Added the UI design for the Mail tab that was mentioned by @defanx in `side navbar ` PR.**

![](https://user-images.githubusercontent.com/9952056/117193626-63e3ff80-ade3-11eb-932f-1a790df41c6b.png)

[2021-05-09 13:29] Kumaravinash9 commented on #35
##  @rottencandy  @defnax  I have completed this work. Please let me know if it requires any more changes.

![UIcheck](https://user-images.githubusercontent.com/64456168/117573946-66529c00-b0f8-11eb-8849-203ce281190c.JPG)

[2021-05-09 13:40] Kumaravinash9 commented on #35
# AddFriend PopUp
![addFriend](https://user-images.githubusercontent.com/64456168/117574300-1d034c00-b0fa-11eb-995d-1c8a050e29ce.JPG)

[2021-05-10 18:02] defnax commented on #35
thx that looks nice

[2021-05-10 18:09] defnax commented on #35
there is needs some rewrite the text
"Do you receive a retroshare id from a friend?"
"Paste Friends retroshare id into box"
we use now retroshare ID, and cert optional... now by default retroshare id in desc/info.

![image](https://user-images.githubusercontent.com/9952056/117704685-6d96aa00-b1cb-11eb-940d-7bf13fb194da.png)

[2021-05-10 18:17] defnax commented on #35
but i doesnt tested if the functions for copy cert or retroshare id works properly,
need to look later on it

[2021-05-10 19:22] defnax commented on #39
the design idea is more from qt ui mail similiar like thunderbirds mail ui
![image](https://user-images.githubusercontent.com/9952056/117712826-1c8bb380-b1d5-11eb-911f-d6281d187b78.png)

![image](https://user-images.githubusercontent.com/9952056/117713305-c66b4000-b1d5-11eb-8ee8-2a4355a70a76.png)

[2021-05-11 15:30] Kumaravinash9 opened #41 "Reverse the order of mails"
In Retoshare Webui , mails are in order of top to down by date. But we should the put the lastest mail at the top like we are doing in Retoshare.

# Retroshare Webui Preview
![mail](https://user-images.githubusercontent.com/64456168/117842429-8bcbdb00-b29b-11eb-8a59-df5f76186ef4.JPG)

 # retoshare mail
![retoshare Mail](https://user-images.githubusercontent.com/64456168/117842983-0e549a80-b29c-11e

[2021-05-12 18:16] #6 closed

[2021-05-12 18:20] defnax commented on #38
i had a issue here when i click all contacts rs freezes or the webui gets logged out

[2021-05-13 00:28] #41 closed

[2021-05-14 02:17] Kumaravinash9 commented on #38
sorry @defnax for the late reply. Actually it was  working perfectly in my case. And  @rottencandy also checked when he merged the PR .

[2021-05-14 02:18] Kumaravinash9 commented on #38
May be this conflits comes after merging `AddSideNavbar` PR

[2021-05-15 08:00] rottencandy commented on #38
This is probably due to having lots of contacts.
As of now in the contacts tab, there is an API request made for every single contact in the list.

So if there are 1000 contacts, the webui contacts tab makes 1000 http requests to RS in 1 second, which could be why the browser gets overwhelmed and freezes.

This model does not scale well, and we need to fix this soon.

[2021-05-15 15:19] defnax opened #43 "WeBUI - Mail, Network, Chat, People, Files"
Hi
thank you @Kumaravinash9 & @gunjan543 for helping us on the webui.

At the moment there are some todos

- #39 **Mail**
- #42 **Chat rooms**
- #36 **Network View**
- #44 **Files View**
- #60
* Private Chat (with Node), Distant Chat (with Contacts/People)
* People Ui ( better design like the qt ui)

we need a useable 1:1 chats too
* Show **private Chat** with Nodes in **Network -> Chat Conversati

[2021-05-17 20:18] Kumaravinash9 commented on #43
Thanks @defnax . Will working here as a GSOC intern this year

[2021-05-18 17:23] defnax commented on #43
There is more todo, but its best that importend communication part will be first useable before going to adopt new pages :)

[2021-05-18 17:39] csoler commented on #43
you seem to also forget file transfer. For now it's not possible to see what files are shared, what's the progress of downloads, etc.

[2021-05-18 19:29] defnax commented on #43
yes you are right thats importend too, i forget it

[2021-05-18 19:55] defnax opened #44 "FIles View"
Hi,
on Files there needs some work, need similiar functionality like the qt ui.

- Show Uploads
- Search (not functinal yet)
- Shared Files View ( My Files & Friends Files)
- Add & Manage Shares ( Share Manager )

![image](https://user-images.githubusercontent.com/9952056/118714835-2770c480-b823-11eb-9a65-1138094a1d47.png)
![image](https://user-images.githubusercontent.com/9952056/118714932-48391a

[2021-05-24 16:21] Kumaravinash9 commented on #44
Hello @csoler @defnax @rottencandy why i am not able to fetch all the contacts and people in retroshare.Please help. Two days before it was working fine but  now it's not working
![problem](https://user-images.githubusercontent.com/64456168/119376786-fc321d80-bcd9-11eb-949b-9148b75ad1cc.JPG)

[2021-05-24 16:36] csoler commented on #44
It would work much better if you add more friends in your network list. Depending on how you friends
can access internet they might not be able to relay you to the rest of the network.

On 24/05/2021 18:21, Avinash Kumar wrote:

--
To secure your emails, use PGP (e.g. enigmail on thunderbird)
My key: 0xD1F93BE3 <http://pgp.mit.edu/pks/lookup?op=get&search=0xA4BD76DED1F93BE3>

[2021-05-24 16:47] Kumaravinash9 commented on #44
Actually one more wired behaviour I observed that each time i opened retroshare it doesnot ask me passphase password but perviously it asked me passphase password.

[2021-05-24 16:51] Kumaravinash9 commented on #44
Thanks @csoler got it.

[2021-06-05 19:57] electronstudio opened #45 "Can't login"
I followed instructions in README.  I'm using RetroShare 0.6.6.

When I open the `webui/index.html` page, before I do anything, RetroShare immediately prints:

    W 1622922469.917 JsonApiServer authentication handler blocked an attempt to call JSON API authenticated method: /rsEvents/registerEventsHandler user: webui error: 2006 Wrong API password category: RetroShare JSON API

In RetroShare GUI

[2021-06-07 15:25] rottencandy commented on #45
Have you set the correct port?

Can you please check if you can curl the API directly?
[code]

[2021-06-07 16:40] electronstudio commented on #45
Yes I think I can curl API directly:

[code]

[2021-06-07 16:41] electronstudio commented on #45
I know nothing about debugging Javascript but I loaded the console in Firefox and it showed this, which may be the problem?

[code]

[2021-06-07 16:49] rottencandy commented on #45
Ah right, this was recently fixed in RS: https://github.com/RetroShare/RetroShare/pull/2386
Perhaps your build does not have the fix yet.

If possible, you could try with a more recent build.

[2021-07-06 17:53] defnax commented on #44
@Kumaravinash9 you will continoue on web ui again?
now priority is more rs mobile platform? or when mobile is ready you will continoue on the webui?

[2021-07-07 10:00] Kumaravinash9 commented on #44
I will continue on RS mobile when RS Mobile is done.

[2021-09-13 13:05] CodingLappen opened #46 "Publish it in a webbrowser."
Is there any webbrowser where I can publish the website in a webbrowser and change somehow the default json-api address ?
I published it it in apache2, but It does not work correctly. Somehow the javascript isn't loaded correctly, unlike if I load it as a file on my computer.

[2021-09-15 17:09] Kumaravinash9 opened #47 "Bug: FIleSize> 2gb throws exception"
Issue is coming  when we try to parse the file size having int64 size  using IntParse. We can use the `BigNumber`  when file size is of 64 bit size.
Here is the solution of this  Bug :
http://jsfromhell.com/classes/bignumber

[2021-09-15 17:09] Kumaravinash9 commented on #47
@cslor @rottencandy.

[2021-09-22 17:06] rottencandy commented on #47
Fixed in #48
Thanks @Kumaravinash9 !

[2021-09-27 09:11] rottencandy commented on #47
Reopening since #48 did not fix it, the filesize still shows incorrectly.

[2021-09-27 09:22] Kumaravinash9 commented on #47
But I replaced the `int64` with `xstr64`.

[2021-09-27 09:25] rottencandy commented on #47
It still seems to report the size incorrectly, not sure why.
I tried to manually serialize the data: https://github.com/RetroShare/RSNewWebUI/pull/49

[2021-09-28 22:01] #47 closed

[2022-01-01 13:44] Sukhamjot-Singh commented on #43
Are these issues still open?
If not, can someone guide me to some issues or fixes I can work on?
Thanks

[2022-01-01 14:09] defnax commented on #43
yes all still open, and we dont know when @Kumaravinash9 comes back for help.
The webui still not ready or useable everything not done or finished.

[2022-01-21 15:45] Sukhamjot-Singh commented on #43
I have installed everything and built the webui. But what id password do I have to enter in the webUI
It is showing me the error _Retroshare-jsonapi not available.
Please fix host and/or port._

[2022-01-21 15:46] Sukhamjot-Singh commented on #43
I have Enabled the JSON API server in the retroshare app but what login password do I have to enter.?
Please help so I can contribute further

[2022-01-21 15:54] csoler commented on #43
you need to add a token in the WebUI tab of the preferences of retroshare-gui.
The token should be "webui:passwd" where you replace passwd by your password.

[2022-01-21 16:36] Sukhamjot-Singh commented on #43
![image](https://user-images.githubusercontent.com/56192331/150564854-2b483d06-99f4-4de9-8921-2a9ad13ee688.png)
![image](https://user-images.githubusercontent.com/56192331/150564906-c03b9ee3-1131-4959-930b-911d7d01baf5.png)

@csoler Thanks for the quick reply but I am still facing the error

[2022-01-21 18:59] rottencandy commented on #43
@Sukhamjot-Singh what error do you see in the browser console?

[2022-01-21 20:44] csoler commented on #43
I think the problem is that you compiled with rs_jsonapi but not with rs_webui. Both are needed for webUI to work. What happens now is that webUI JS part is trying to talk to RS but RS does not respond because it doesn't expect anything on localhost/webui/index.html

[2022-01-21 20:57] Kumaravinash9 commented on #43
Which os are you using @Sukhamjot-Singh ?

[2022-01-21 20:58] Kumaravinash9 commented on #43
In windows there are some problem with compilation ? Last year I also faced issues.

[2022-01-21 23:17] hunbernd commented on #43
There is currently a problem due to the recent changes, but it is easy to fix:
Copy these files from **libretroshare\src\jsonapi\\** to **jsonapi-generator\src\\**
* async-method-wrapper-template.cpp.tmpl
* method-wrapper-template.cpp.tmpl
* jsonapi-generator-doxygen.conf

Then rebuild RS.
If you use the msys2 scripts:
build 64 release webui
pack 64 release webui

[2022-01-22 18:33] Sukhamjot-Singh commented on #43
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://127.0.0.1:9092/rsEvents/registerEventsHandler. (Reason: CORS request did not succeed). Status code: (null).

[2022-01-22 18:33] Sukhamjot-Singh commented on #43
ubuntu -linux

[2022-01-22 18:35] Sukhamjot-Singh commented on #43
I did not compile with anything, it was mentioned in the docs if the retroshare app is showing JSON API option you dont need to compile with anything.
I just built the file.

[2022-01-22 18:42] Sukhamjot-Singh commented on #43
It has compiled!
I built once again using qmake .
Thank you @csoler  @Kumaravinash9  @rottencandy @hunbernd . Looking to forward to contributing.
Also is freifunk/Retroshare participating in GSOC?

[2022-01-22 19:33] csoler commented on #43
yes definitely. You're very welcome to join and make some contributions to RSWebUI. That will give you a very good chance to get a GSoC slot provided that Google actually gives slots to Retroshare this year.

[2022-01-22 22:00] csoler commented on #43
I fixed the README.md of RSNewWebUI as it was really outdated.

[2022-01-25 07:34] Sukhamjot-Singh commented on #43
I have looked at the code now. i can solve some issues.
Can anyone tell me how can I add friends and chat channels(dummy or real) so that I can work with the UI

[2022-01-25 08:30] csoler commented on #43
In the Web interface, just click on "add friend" in the main page, and paste your friend's certificate. On the friend's side, add your own certificate.

[2022-01-26 16:02] Sukhamjot-Singh commented on #43
ABBuYBdPh+AoCCP4sE5G5IYDAxSwby53Yx9Cxb7R4CmBNJx+cZGMMAENc3VraGFtam90MjAwMZMGhB2owI3Dkgaw0CQxjcMEA3Na
Yg==

[2022-01-26 17:54] defnax commented on #43
what time you are online? send me your cert via email look on my profile.
im often 7 to 10pm (UTC+1) online

[2022-01-26 18:16] Sukhamjot-Singh commented on #43
I am online 11am - 4pm(UTC) online
Okay I will mail you

[2022-01-26 18:41] defnax commented on #43
when you check your mail?

[2022-02-03 07:49] Sukhamjot-Singh commented on #39
![ss](https://user-images.githubusercontent.com/56192331/152301709-e4ed1eab-7f82-444d-a15d-67c0697f20c7.png)

I have added the compose button separately and have made a dummy component for the same named 'mail_compose.js'
My questions

1. Should I include it in the sidebar like the rest of the options(inbox, draft etc)?
2. If I do it separately(like in the screenshot), how do I route the button to

[2022-02-03 09:25] defnax commented on #39
i has no knowledge with javascript or with mithril,
the mail composer needs looks like composer from the qt ui or like tunderbirds composer

[2022-02-03 12:17] defnax commented on #39
the side bar ist not needed in composer ivew, when you open the Retroshare Mail composer you will see it how it needs to look

[2022-02-03 16:35] rottencandy commented on #39
I think it's good to have the compose button outside of the sidebar like you have done.
And like defnax said there won't be a sidebar for the compose page, so you can create a new route and a page for it.

[2022-02-07 19:01] defnax commented on #39
here the basic todos for mail composer and mail page:

Mail windows missed things:

- From (Column) for Inbox
- To (Column) for outbox, sent
- Trash box
- System Box
- Spam Box
- Attachments box
- Tags list box
- reply/replyall, forward, delete buttons

you will see on the rs mail window the features which are missed in the webui

[2022-02-10 17:27] defnax commented on #39
@G10h4ck @Kumaravinash9

[2022-02-10 17:27] rottencandy commented on #39
You can find all api endpoints here https://github.com/RetroShare/libretroshare/tree/master/src/jsonapi

[2022-02-10 17:44] defnax commented on #39
i dont know iverything is done look here:
https://github.com/RetroShare/libretroshare/blob/a7a430008b76e53727598c4d13106e7ce95221d7/src/retroshare/rsmsgs.h#L588

[2022-04-03 08:29] Sukhamjot-Singh commented on #39
Hello @defnax , @rottencandy
I would love if you could help me review my GSoC proposal for webUI

[2022-04-03 15:48] defnax commented on #43
@Sukhamjot-Singh the basic todos are listed here on top

[2022-04-03 15:49] defnax commented on #39
@Sukhamjot-Singh  you has a own proposal? for webui? i doesnt saw it

[2022-04-03 19:39] csoler commented on #39
@Sukhamjot-Singh I can do that. Can you send it by email? Or on retroshare.

[2022-04-03 19:43] Sukhamjot-Singh commented on #39
Yes I already did that by email.

[2022-04-12 12:28] Sukhamjot-Singh commented on #19
https://github.com/RetroShare/RSNewWebUI/blob/117cec277c0c4debc4c59bde63abe49a297dcc24/webui-src/make-src/build.bat#L26
`copy %src%\app\assets\index.html %publicdest%\index.html`

I don't know much about build scripts. I was trying to setup the environment on Windows once.
When I run the build.bat file, it throws a small error and index file is not copied.

This issue was trivial. the address says

[2022-04-13 06:52] G10h4ck commented on #39
The JSON API already expose anything needed for profile creation and login, and I think it is a priority to implement that in webui, this way retroshare-service can be used stanfalone without trickeries, about mail tab I think we should give priority to basic functions, like mail reading, sending and maybe folder, I would completely ignore tags, stars and all the unnecessary things we have in retr

[2022-05-21 14:20] Sukhamjot-Singh commented on #43
Hello everyone, I am setting up my environment on WSL.
can someone add my cert.

CQEGAcGexsBNBGJTAY0BCADcff36Tn/Di+4hiim9qys2mqXLRIkxnhBxGXplcRta
THPQpOH+UZJtf1C2ZO4yLhF6HOIiOFHQ/l6oLNgxMMMkmdTmtclGwbWzgltDBvI5
MkFoIS9Vbg/EOssFcoVYoCR/9QHKoxybTbfGoXYmI6/+KG+vPMPD26VjAlPQtAHr
6PTZ0xjd2PfEmaGtEVTUR+r9EWe77l7QzHHOKfuGrGXeYI/DEUSul2kcnF2Deqv1
qtZb3LRON29jjveBqVLt4oBLuJYFaqvI66+0bVZNvrfzM32AB9+1r7BAXUO

[2022-05-21 15:41] G10h4ck commented on #43
I suggests you exchange keys with this 24/7 nodes http://pool.elrepo.io/

Also @csoler manages a node specifically for development purposes

[2022-05-21 19:33] defnax commented on #43
@Sukhamjot-Singh send you a mail

[2022-05-22 10:43] Sukhamjot-Singh commented on #44
Okay, as of now the FIles tab UI implemented is showing some errors and is not rendering anything.
Also can anyone guide me how I can add some files for testing.?

[2022-05-26 17:05] sehraf opened #52 "Small issues"
I've encountered a few issues whhile working on rustyshare:
- the content type of REST request is not `application/json`
- the code for sending a chat message is using `rsmsgs` as URL (which should be `rsMsgs`)

Here is a patch
[code]

[2022-06-03 19:09] defnax opened #53 "Api for Boards doesnt works"
Hi, i have tested with curl the api for boards but it doesnt works, for channels/forums working perfect.
or someone forget to enable/add api feature for boards?

@G10h4ck @zeners @csoler @Kumaravinash9 @Sukhamjot-Singh @sehraf

![image](https://user-images.githubusercontent.com/9952056/171931848-7ea84d96-3447-4564-9608-fff44d384fbd.png)

[2022-06-04 09:46] defnax commented on #53
when i add this to rsposted.h class then the api will work?
![image](https://user-images.githubusercontent.com/9952056/171994013-f929a56f-cb0a-41bc-8d69-6490b271b1f7.png)

[2022-06-04 10:28] sehraf commented on #53
That _should_ do the trick.

---
( Since the global pointer **is** already exposed )
[code]

[2022-06-04 11:16] defnax commented on #53
hi maybe you can check with my pr is right? maybe not complete or someone do the rest?

https://github.com/RetroShare/libretroshare/pull/31

[2022-06-28 20:44] #53 closed

[2022-10-27 14:30] defnax opened #60 "Standalone Webui packges needed (Win/Linux/Macox)"
Standalone Retrohare-Service with Webui packages needed without Qt Gui for all platforms (Win, Linux, Macos)

Retroshare-Service with Webui needs this features

- Start from Desktop (bat) , Script, commandline  or from Autostart the Retroshare-Service with Webui
- When no profile present Start the Webui New profile page for profile generation
- Generate the default password for rs profile and for